@charset "utf-8";
.moeka-module-desc:after,
.tab-menu:after {
    content: '';
    display: block;
    clear: both;
}

.tab-menu {
	background: #333;
}

.tab-menu li {
	float: left;
	margin: 0;
}
.tab-menu li a {
	display: block;
	padding : 10px 20px;
	background: #333;
	color: #eee;
	text-decoration: none;
	white-space: nowrap;
}
.tab-menu li.current a {
	color: #fff;
	background: #0073aa;
}
.tab-menu li.tab-item a:hover {
	color : #00b9eb;
	background: #000;
}
.admin-color-light .tab-menu li a {
	background: #e5e5e5;
	color: #333;
}
.admin-color-light .tab-menu li.current a {
	background: #888;
	color: #fff;
}
.admin-color-light .tab-menu li.tab-item a:hover {
	background: #888;
	color: #fff;
}
.admin-color-blue .tab-menu li a {
	background: #52accc;
}
.admin-color-blue .tab-menu li.current a {
	background: #096484;
}
.admin-color-blue .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #096484;
}
.admin-color-coffee .tab-menu li a {
	color: #fff;
	background: #59524c;
}
.admin-color-coffee .tab-menu li.current a {
	background: #c7a589;
}
.admin-color-coffee .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #c7a589;
}
.admin-color-ectoplasm .tab-menu li a {
	background: #523f6d;
}
.admin-color-ectoplasm .tab-menu li.current a {
	background: #a3b745;
}
.admin-color-ectoplasm .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #a3b745;
}
.admin-color-midnight .tab-menu li a {
	background: #26292c;
}
.admin-color-midnight .tab-menu li.current a {
	background: #e14d43;
}
.admin-color-midnight .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #e14d43;
}
.admin-color-ocean .tab-menu li a {
	background: #738e96;
}
.admin-color-ocean .tab-menu li.current a {
	background: #9ebaa0;
}
.admin-color-ocean .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #9ebaa0;
}
.admin-color-sunrise .tab-menu li a {
	background: #cf4944;
}
.admin-color-sunrise .tab-menu li.current a {
	background: #dd823b;
}
.admin-color-sunrise .tab-menu li.tab-item a:hover {
	color: #fff;
	background: #dd823b;
}

.moeka-module-desc li {
	background: #fff;
	border: solid 1px #e5e5e5;
	float: left;
	width: 32%;
	margin-right: 1%;
}
.moeka-module-desc .desc {
	padding: 0 10px;
}
.moeka-module-desc .link {
	padding: 0 10px 10px;
	text-align: right;
}
.moeka-module-desc h4 {
	color: #000;
	border-bottom: solid 1px #eee;
	padding: 10px;
	margin: 0;
}

.moeka-informations {
	background: #fff;
	border: solid 1px #e5e5e5;
	width: 98%;
}
.moeka-informations li {
	border-bottom: solid 1px #eee;
	padding: 10px;
	margin: 0;
}
.moeka-informations li.tail {
	border: none;
}
.moeka-informations span {
	display: table-cell;
	padding-right: 20px;
}
.moeka-informations a {
	display: table-cell;
}

#disable-theme-switch {
	background: #fff;
	border: solid 1px #e5e5e5;
	padding: 10px;
}
#disable-theme-switch label {
	padding-right: 20px;
	line-height: 26px;
}
@media screen and (max-width: 782px) {
	.tab-menu li {
		float: none;
	}
	.moeka-module-desc li {
		float: none;
		width: auto;
		margin-right: 0;
	}
	.moeka-informations {
		width: 100%;
	}
}

/**
CUSTOM CSS
*/

.justify {
	text-align: justify !important;
}

.center {
	text-align: center !important;
}


button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}